<!-- footer -->
<div class="container container-fluid container-footer overflow-hidden">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-3 my-3">
        <div class="col m-2">
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted" href="https://wa.me/3118390952">Solicitar Super Domi</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted" href="#features">Servicios</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted" href="#prices">Precios</a>
            </li>
          </ul>
        </div>
        <div class="col m-2">
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a class="text-muted center" target="_blank" class="nav-link p-0 text-muted">Horario de Atención</a>
                <ul class="text-muted"><li>Lunes a Jueves: 8:00 am - 9:15 pm</li>
                  <li>Viernes y Sábado: 8:00 am - 10:15 pm</li>
                  <li>Domingos y festivos: 10:00 am - 8:00 pm</li>
                </ul>
              </li>
            </ul>
        </div>
        <div class="col-12 m-2">
            <ul>
              <li>
                <a class="text-muted" target="_blank" class="nav-link p-0 text-muted">Super Domis - San Juan de Pasto &copy; 2024</a>
              </li>
            </ul>
        </div>
    </footer>
</div>